html, body {
	font-family: 'Roboto', sans-serif !important;
	padding: 0;
	margin: 0;
}
.container {
	width: 80%;
	height: 100%;
	background: white;
	margin: 0 auto;
	box-shadow: 0px 0px 7px #888888;

}

.title {
	font-size: 35px;
	font-weight: 200;
	border-bottom: 1px solid #ccc;
	background: white;
	padding: 15px 0px 5px 5px;
	margin: 0px 30px 35px 30px;
}

ul {
	list-style: none;
	margin: 0 auto;
	height: 100%;
}
.bulletpoint-list {
	background: white;
	margin: 0 15px;
}
h3.bulletpoint:before {
	content: "• ";
}
h3.bulletpoint {
	font-size: 23px;
	font-weight: 200;
}
h3.point {
	font-size: 20px;
	font-weight: 200;
}
li.comment {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
}
h3.point:before {
	content: "- ";
}
h3 {
	padding: 0;
	padding-bottom: 3px;
	margin: 0;
}
li.comment:before {
	content: "» ";
}

.add-bullet-textbox {
	margin-bottom: 10px;
	padding: 7px 15px;
	font-size: 23px;
	border: 1px solid #ccc;
}
.add-bullet-button {
	padding: 8px 15px;
	font-size: 23px;
	color: white;
	background-color: #ccc;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: none;
}
.add-point-textbox {
	margin-bottom: 10px;
	padding: 7px 15px;
	font-size: 20px;
	border: 1px solid #ccc;
}
.add-point-button {
	padding: 8px 15px;
	font-size: 20px;
	color: white;
	background-color: #ccc;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: none;
}
.add-comment-textbox {
	margin-bottom: 10px;
	padding: 7px 15px;
	font-size: 16px;
	border: 1px solid #ccc;
}
.add-comment-button{
	padding: 8px 15px;
	font-size: 16px;
	color: white;
	background-color: #888888;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: none;
}
.remove-comment {
	float: right;
}
.button-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.exit-icon {
	width: 20px;
	padding: 2px 0px 2px 15px;
	cursor: pointer;
	display: none;
}
.comment-exit-icon {
	padding-left: 15px;
	width: 18px;
	cursor: pointer;
	display: none;
}
.button-container:hover .comment-exit-icon {
	display: block;
}
.button-container:hover .exit-icon {
	display: block;
}
