<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>J/105 Perseverance Racing Notes</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}" />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/J105.jpg') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel" src="static/js/main.js"></script>
    <script type="text/babel">
      // To get started with this tutorial running your own code, simply remove
      // the script tag loading scripts/example.js and start writing code here.
    </script>
  </body>
</html>
